<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jose Sanchez</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- prefetch all pages -->
     <link rel="prefetch" href="/portfolio" as="document" />
     <link rel="prefetch" href="/work-experience" as="document" />
     <link rel="prefetch" href="/projects" as="document" />
</head>

<body>
    <header>
        <h1>Hey. I'm Jose Sanchez.</h1>
        <h2>I'm a software engineer, web developer, and more.</h2>
    </header>
    <nav>
        <ul>
            <li class="italics">
                <h3>Web Development</h3>
            </li>
            <li><a href="/portfolio#page-contents">Portfolio</a></li>
            <li class="italics">
                <h3>Software Development</h3>
            </li>
            <li><a href="/work-experience#page-contents">Work
                    Experience</a></li>
            <li><a href="/projects#page-contents">Projects</a></li>
            <li class="italics">
                <h3>Links</h3>
            </li>
            <li><a href="/resume_latest.pdf">Resume</a></li>
            <li><a href="https://github.com/js5253">GitHub</a></li>
            <li><a href="/about#page-contents">About</a></li>
        </ul>
    </nav>
    <div id="page-contents">
        {{content}}
    </div>
</body>

</html>